/nbproject/private/
/salutem/nbproject/private/
/salutem-ejb/nbproject/private/
/salutem-ejb/build/
/salutem-ejb/dist/
/build/
/dist/
/salutem/dist/
/salutem/build/
/salutemlogs-ejb/nbproject/private/
/salutemlogs-ejb/build/
/salutemlogs-ejb/dist/