body{
    font: 65% sans-serif !important;
    margin: 25px;
}
.columna1{
    text-align: -webkit-left;
    width:40%;
}
.columna2{
    text-align: -webkit-center;
    width:20%;
}
.columna3{
    text-align: -webkit-right;
    width:40%;
}
.menu1{
    text-align: -webkit-left; 
    width: 90%;
}
.menu2{
    text-align: -webkit-right; 
    width: 10%;
}
#principal\:menuButton100_button .ui-button-text{
    padding: .8em 4em .8em 3em;
    text-align: left;    
}
.etiquetas{
    font-weight: bolder;
}
.mensajes{
    font-size: 22px !important;
}
.grupo{
    color: white;
    font-style: italic;
    background: #654b24 url("images/ui-bg_fine-grain_65_654b24_60x60.png") 50% 50% repeat;
}

/*.iceSelInpTxtList{
    background-color: #AFAFAF;
    border:solid black;
    border-width: 1px;
    z-index: 1;
}*/
