body{
    font: 65% sans-serif !important;
    margin: 25px;
}
.bold{
    font-weight: bolder;
}
.columna1{
    text-align: right;
    vertical-align: central;
    width:1%;
}
.columna2{
    text-align: left;
    vertical-align: central;
    width:98%;
}
.columna3{
    text-align: left;
    vertical-align: central;
    width:1%;
}
.menu1{
    text-align: -webkit-left; 
    width: 90%;
}
.menu2{
    text-align: -webkit-right; 
    width: 10%;
}
#principal\:menuButton100_button .ui-button-text{
    padding: .8em 4em .8em 3em;
    text-align: left;    
}
.etiquetas{
    font-weight: bolder;
}
.mensajes{
    font-size: 22px !important;
}
.diez{
    vertical-align: top;
    width: 10%;
    height: 100%;
}
.veinte{
    vertical-align: top;
    width: 20%;
    height: 100%;
}
.veinteycinco{
    vertical-align: top;
    width: 25%;
    height: 100%;
}
.treinta{
    vertical-align: top;
    width: 30%;
    height: 100%;
}
.cuarenta{
    vertical-align: top;
    width: 40%;
    height: 100%;
}
.cincuenta{
    vertical-align: top;
    width: 50%;
    height: 100%;
}
.sesenta{
    vertical-align: top;
    width: 60%;
    height: 100%;
}
.setenta{
    vertical-align: top;
    width: 70%;
    height: 100%;
}
.ochenta{
    vertical-align: top;
    width: 80%;
    height: 100%;
}
.noventa{
    vertical-align: top;
    width: 90%;
    height: 100%;
}
.cien{
    vertical-align: top;
    width: 100%;
    height: 100%;
}

/*.iceSelInpTxtList{
    background-color: #AFAFAF;
    border:solid black;
    border-width: 1px;
    z-index: 1;
}*/
